<a href="https://colab.research.google.com/github/KhanNayan/Pattern_lab_work/blob/main/lab_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
%cd /content/drive/My\ Drive/Pattern\ Lab/Datasets/Datasets\ SL/Kmer

/content/drive/My Drive/Pattern Lab/Datasets/Datasets SL/Kmer

In [ ]:
import pandas as pd
data = pd.read_csv("NA_test_special_Kmer2.csv", header=None)
data.head()

   0         1         2         3   ...     17     18     19     20
0   0  0.390244  0.195122  0.121951  ...  0.025  0.050  0.075  0.125
1   0  0.317073  0.341463  0.073171  ...  0.000  0.200  0.000  0.075
2   0  0.414634  0.170732  0.170732  ...  0.075  0.000  0.100  0.050
3   0  0.317073  0.219512  0.146341  ...  0.175  0.025  0.025  0.075
4   0  0.439024  0.195122  0.146341  ...  0.075  0.050  0.025  0.075

[5 rows x 21 columns]

In [ ]:
import numpy as np

In [ ]:
data = data.to_numpy()[:,1:]
print(data[0,:])
np.save("NA_test_special_Kmer2.npy",data)
#np.load() can be used

[0.3902439  0.19512195 0.12195122 0.29268293 0.225      0.075
 0.025      0.075      0.125      0.025      0.         0.05
 0.025      0.05       0.         0.05       0.025      0.05
 0.075      0.125     ]

In [ ]:
no_of_features = []
feature_name = ["NA_test_special_Kmer1.npy", "NA_test_special_Kmer2.npy"]
for f_name in feature_name:
  kmer = np.load(f_name)
  no_of_features.append(kmer.shape[1])
print(no_of_features)

[4, 20]

In [ ]:
index_dict = {}
track = 0
for i,f_name in enumerate(feature_name):
  l = [track, track+no_of_features[i]-1]
  track = track + no_of_features[i]
  index_dict[f_name] = l
print(index_dict)

{'NA_test_special_Kmer1.npy': [0, 3], 'NA_test_special_Kmer2.npy': [4, 23]}

In [ ]:
NA_test = np.concatenate((np.load(feature_name[0]),np.load(feature_name[1])), axis=1)
print(NA_test.shape)

(132, 24)